#card_wrapper{
  margin-top: 4em;
}

.card {
  margin-top: 2em;
}

.loginPass{
  margin-top: 10em;
}

img {
  max-height: 300px;
}

.title{
  font-weight: 600;
}
.fixed-bottom{
  right: auto;
}

.comment{
  text-align: left;
  padding-left: 5em;
}
.commmentBtn {
  margin-left: 1em;
}

.commentField{
  margin-bottom: 1em;
  margin-top: .5em;
}
.commentFormWrapper{
  text-align: center
}

.commentAuthor{
  text-align: left;
}
